version: 2.1
jobs:
  build_and_test:
    docker:
      # Specify the version you desire here
      - image: circleci/php:7.4-node-browsers

    steps:
      - checkout

      - run:
          name: "Prepare Environment"
          command: |
            sudo apt update
            sudo docker-php-ext-install zip
            composer global require "squizlabs/php_codesniffer=*"
            git clone https://github.com/wataridori/framgia-php-codesniffer.git ~/.composer/vendor/squizlabs/php_codesniffer/src/Standards/Framgia

      # Download and cache dependencies
      - restore_cache:
          keys:
            # "composer.lock" can be used if it is committed to the repo
            - v1-dependencies-{{ checksum "composer.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-
      - run:
          name: "Install Dependencies"
          command: composer install -n --prefer-dist

      - save_cache:
          key: v1-dependencies-{{ checksum "composer.json" }}
          paths:
            - ./vendor

      # Run tests with phpunit
      - run:
          name: "Run Tests"
          command: ./vendor/bin/phpunit

      # Run tests!
      - run: sudo ~/.composer/vendor/bin/phpcs

  # deployment:
  #   docker:
  #     - image: circleci/php:7.2-browsers
  #   steps:
  #     - add_ssh_keys:
  #         fingerprints:
  #           - "59:43:6e:72:dc:75:53:ab:f3:e7:33:2a:05:98:46:a0"
  #     - checkout
  #     - run:
  #         name: Install Deployer
  #         command: |
  #           curl -LO https://deployer.org/deployer.phar
  #           sudo mv deployer.phar /usr/local/bin/dep
  #           sudo chmod +x /usr/local/bin/dep
  #     - run:
  #         name: Deploy
  #         command: |
  #           if [ -z `ssh-keygen -F '52.15.170.75'` ]; then
  #             ssh-keyscan -H '52.15.170.75' >> ~/.ssh/known_hosts
  #           fi

  #           dep deploy
  deployment:
    docker:
      - image: circleci/php:7.2-browsers
    steps:
      - add_ssh_keys:
          fingerprints:
            - "59:43:6e:72:dc:75:53:ab:f3:e7:33:2a:05:98:46:a0"
      - checkout
      - run:
          name: Install Rocketeer
          command: |
            wget http://rocketeer.autopergamene.eu/versions/rocketeer.phar
            sudo chmod +x rocketeer.phar
            sudo mv rocketeer.phar /usr/local/bin/rocketeer
      - run:
          name: Deploy
          command: |
            if [ -z `ssh-keygen -F '52.15.170.75'` ]; then
              ssh-keyscan -H '52.15.170.75' >> ~/.ssh/known_hosts
            fi

            rocketeer deploy --on=staging --no-interaction
  docker-deployment:
    docker:
      - image: circleci/php:7.2-browsers
    steps:
      - checkout
      # Docker build and push
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Setup VirtualEnv
          command: |
            echo 'export TAG=0.1.${CIRCLE_BUILD_NUM}' >> $BASH_ENV
            echo 'export IMAGE_NGINX_NAME=m_nginx' >> $BASH_ENV
            echo 'export IMAGE_PHP_NAME=m_php_fpm' >> $BASH_ENV
      - run:
          name: Build and push Docker image
          command: |
            docker build -t minhnv2306/$IMAGE_NGINX_NAME:$TAG ./docker-compose/nginx
            echo $DOCKER_PWD | docker login -u $DOCKER_LOGIN --password-stdin
            docker push minhnv2306/$IMAGE_NGINX_NAME:$TAG

            docker build -t minhnv2306/$IMAGE_PHP_NAME:$TAG ./docker-compose/php-fpm
            echo $DOCKER_PWD | docker login -u $DOCKER_LOGIN --password-stdin
            docker push minhnv2306/$IMAGE_PHP_NAME:$TAG
      - add_ssh_keys:
          fingerprints:
            - "59:43:6e:72:dc:75:53:ab:f3:e7:33:2a:05:98:46:a0"
      - run:
          name: Deploy app to My Project Server via Docker
          command: |
            ssh -o StrictHostKeyChecking=no ubuntu@52.15.170.75 "cd /var/www/html/docker-deploy && git pull origin master && /bin/bash ./docker-compose/deploy-app.sh ${TAG}"
workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build_and_test
      - deployment:
          requires:
            - build_and_test
          filters:
            branches:
              only: master
      - docker-deployment:
          requires:
            - deployment
          filters:
            branches:
              only: master
